@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#table-data{
    font-family: 'Poppins', sans-serif;
    margin:10px;
    white-space: nowrap;
    margin: 20px;
    overflow: auto;

}

#pinCode{
    padding:5px;
    margin:10px;
    font-family: 'Poppins', sans-serif;
}

.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:100px ;
}

.home-input{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top: 10px;
}